<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="cat" class="com.zyk.pojo.Cat"></bean>
    <bean id="dog11" class="com.zyk.pojo.Dog"></bean>
    <!--<bean id="people" class="com.zyk.pojo.People">
        <property name="name" value="zyk测试dog cat"></property>
        <property name="cat" ref="cat"></property>
        <property name="dog" ref="dog"></property>
    </bean>-->
    <!--byName:会自动在容器上下文中查找，和自己对象set方法后面的值对应的beanid!-->
    <!--<bean id="people" class="com.zyk.pojo.People" autowire="byName">
        <property name="name" value="zyk测试dog cat"></property>
    </bean>-->
    <!--byType:会自动在容器上下文中查找和自己对象属性类型相同的bean!-->
    <bean id="people" class="com.zyk.pojo.People" autowire="byType">
        <property name="name" value="zyk测试dog cat"></property>
    </bean>
    <!--byName的时候，需要保证所有bean的id唯一，并且这个bean需要和自动注入的属性的set方法的值一致-->
    <!--byType的时候，需要保证所有bean的class唯一，并且这个bean需要和自动注入的属性的类型一致-->
</beans>