<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--标准的日志工厂的实现-->
       <!-- <setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <!--<setting name="logImpl" value="LOG4J"/>-->
        <!--是否开启自动驼峰命名规则(caml case)映射-->
       <!-- <setting name="mapUnderscoreToCamelCase" value="true"/>-->
        <!--显示的开启全局缓存(二级缓存)-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
   <!-- <typeAliases>
        &lt;!&ndash;给实体类起别名&ndash;&gt;
        &lt;!&ndash;<typeAlias type="com.zyk.pojo.User" alias="User"></typeAlias>&ndash;&gt;
        &lt;!&ndash;扫描实体类的包，他的默认别名就为这个类的类名，首字母小写；也可以在实体类上加@alias注解自定义别名&ndash;&gt;
       &lt;!&ndash; <package name="com.zyk.springcloud.pojo"/>&ndash;&gt;
    </typeAliases>-->
</configuration>